* {
	font-family: "Courier New", Courier, monospace;
	font-weight: lighter;
}

/* Header part */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: cadetblue;
	color: #fff;
}

ul {
	display: flex;
}

li {
	list-style: none;
	margin: 1rem;
}

a {
	text-decoration: none;
	color: #fff;
}

.logo {
	padding: 1rem;
}
/* Main part */

.container {
	background-color: rgb(106, 159, 161);
	color: #fff;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
	padding: 3%;
	border-radius: 10px;
	text-align: center;
}

/* Gallery part */
.gallery h2 {
	text-align: center;
	font-size: 40px;
	letter-spacing: 10px;
}

.gallery img {
	width: 400px;
	height: 300px;
	margin-top: 50px;
	margin-left: 120px;
}
.gallery {
	margin-top: 50px;
	margin-left: 20px;
}

/* Portfolio part */
.portfolio {
	display: flex;
	width: 80%;
	margin: 100px 200px 100px 200px;
	text-align: center;
}

.port-text {
	padding: 200px;
	width: 30%;
	margin-right: 100px;
}

.port-text h2 {
	font-weight: bold;
}

/* Footer part */
footer {
	background-color: gray;
	color: #fff;
	text-align: center;
	height: 200px;
	padding: 3%;
}
